.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.moegirl_rating ol, .moegirl_rating ul, .moegirl_rating li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.moegirl_rating {
	vertical-align: bottom;
}

.rating_title {
	float: left;
	height: 30px;
	display: inline;
	vertical-align: baseline;
	line-height: 30px;

}

.rating_body, .rating_body_disabled  {
	width:150px;
	height: 30px;
	float: left;
	background: url(../images/starrating.png) repeat-x 0 0;
	position: relative;
}


.rating_body ul, .rating_body_disabled ul {
	float:left; 
}

.rating_body li, .rating_body_disabled li {
	float:left;
	width:30px;
	height:30px;
	text-align:center;
	font-size:12px;
}

.rating_body li a, .rating_body_disabled li a 
{
	outline:none;
	display:block;
	width:30px;
	height:30px;
	text-decoration:none;
	text-indent:-9000px;
	z-index:20;
	position:absolute;
	padding:0px;
}

.rating_body li a:hover {
	height:30px;
	background:url(../images/starrating.png) repeat-x 0 -30px;
	position: relative; 
	z-index: 15;
	left: 0px;
}

.rating_body_result {
	height: 30px;
	background: url(../images/starrating.png) repeat-x 0 -60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

div.hide_result:hover {
	background:none;
	z-index:0;
}

.rating_result .loading {
	background: url(../images/loading.gif) no-repeat left center;
}

.rating_result .success {
	background: url(../images/green-check.png) no-repeat left center;
}

.rating_result .error {
	background: url(../images/green-check.png) no-repeat left center;
}

.rating_result .result_icon {
	width: 30px;
	height: 30px;
	float: left;
}

.rating_result .result_text {
	float: left;
	padding-left: 5px;
}


.rating_body a.r-1  { left: 0px;}
.rating_body a.r-1:hover {left:0px; width:30px;}
.rating_body a.r-2  { left: 30px;}
.rating_body a.r-2:hover {left: -30px; width:60px;}
.rating_body a.r-3  { left: 60px;}
.rating_body a.r-3:hover  { left: -60px; width:90px;}
.rating_body a.r-4  { left: 90px;}
.rating_body a.r-4:hover  { left: -90px; width: 120px;}
.rating_body a.r-5  { left: 120px;}
.rating_body a.r-5:hover  { left: -120px; width: 150px;}

.rating_result {
	float: left;
	margin-left: 30px;
	line-height: 30px;
}

.rating_main .moegirl-rating-error-tip { padding: 0 10px;line-height: 24px;border: 1px solid #a55858;color: #a55858;font-size: 12px; position:absolute; left: 0; top:-30px;white-space: nowrap;display:none;background-color:#fff;z-index:1000; }
